@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Exo+2);

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/*################################################################################
#
#       ESTILOS PROPIOS
#
##################################################################################*/

@media screen and (max-width: 600px) {

    #carrusel {
        display: none;
    }

    #presentacion {
        padding-top: 25px;
    }
}

@media screen and (min-width: 601px) {

    #carrusel {
        display: inline;
    }
}

#presentacion  {
    background-color: #E0E4CC;
}

#productores {
    background-color: #fcfcfc;
    margin-top: 51px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#contenedor-mapa {
    height: 400px;
}

#formulario-mapa {
    height: 440px;
    padding: 20px;
    border: 2px solid #CCC;
    margin-bottom: 20px;
    background-color:#FcFcFc
}

#noticias, #quienesSomos, #contacto {
    background-color: #fcfcfc;
    padding-bottom: 20px;
    padding-top: 25px;
}

#noticias .espaciado-columnas {
    margin-top: 30px;
}

.fecha-noticia {
    padding-top: 25px;
    padding-bottom: 10px;
}

.leer-mas-noticia {
    float: right;
}

#modo-venta, #ciudades {
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
}

.titular-seccion {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5em;
    padding-bottom: .5em;
    text-align: center;
    font-family: Lobster, Montserrat, sans-serif;
}

.titular-seccion-izquierda {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    text-align: left;
    font-family: Lobster, Montserrat, sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.linea-inferior {
    width: 100px;
    border: 3px solid #F38630;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;
}

.titulares-pie-foto
{
    font-family: 'Exo 2', sans-serif;
    font-size: 13pt;
    padding-top: .9em;
    padding-bottom: 1.2em;
    font-weight: bold;
    text-align: center;
    clear: both;
}

.bloque {
    display: block;
}

.tint {
    position: relative;
    float: inherit;
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.tint:hover:before {
    background: rgba(62, 255, 177, 0.3);
}

#razones
{
    background-image: url("../img/brossa.jpg");
}

.cuadro-razones {
    background-color: white;
    padding-top: 45px;
    padding-bottom: 15px;
    margin-bottom: 45px;
}

#newsletter {
    background-color: #E0E4CC;
}

.newsletter-form {
    padding-bottom: 45px;
    margin-right: auto;
}

#noticias {
    background-color: #fff;
}

#pie-pagina {
    background-color: #F38630;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../img/cerealesV2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: right;
    text-shadow: 2px 2px 2px #0f0f0f;
}

#pie-pagina a {
    color: #fff;
}

.titular-pie-h4 {
    border-bottom: 1px solid white;
}

#pie-pagina .contenedor{
    padding-top: 45px;
    padding-bottom: 45px;
}

.parrafo-copyright {
    margin-top: 50px;
}


.opacity-08 {
    opacity: .8;
}

.tabla-productores {
    background-color: #f5f5f5;
}

.tabla-productores td:hover {
    background-color: #A7DBD8;
}

.tabla-productores td>a:hover {
    color: #FA6900;
    text-decoration: none;
    margin-right: -10px;
    margin-left: 10px;
    transition: margin .5s;
    -webkit-transition: width 2s;
}

.tabla-productores td>a {
    color: #000;
}

.tbl-borde-sup-amarillo {
    border-top: 4px solid #69D2E7;
}

/*################################################################################
#
#       SOBREESCRITURA DE ESTILOS DE BOOTSTRAP
#
##################################################################################*/

@media (max-width: 767px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .form-control-static {
        display: inline-block;
    }
    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
        width: auto;
    }
    .form-inline .input-group > .form-control {
        width: 100%;
    }
    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0;
    }
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
}

.navbar {
    -webkit-box-shadow: rgba(255, 113, 23, 0.2) 3px 5px 5px;
    -moz-box-shadow: rgba(255, 113, 23, 0.2) 3px 5px 5px;
    box-shadow: rgba(255, 113, 23, 0.2) 3px 5px 5px;
}

.carousel-inner {
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.carousel-caption {
    text-shadow: 0 .1em .1em #000;
    font-size: .8em;
    padding-bottom: 10px;
}

.carousel-caption > h3 {
    text-shadow: 0 .1em .1em #000;
    font-size: 1.75em;
    font-family: Lobster, Montserrat, sans-serif;
}

.carousel-indicators {
    bottom: 0px;
}

@media screen and (min-width: 980px) {
    .carousel-caption > h3 {
        font-size: 2.5em;
        text-shadow: 0 .1em .1em #000;
    }

    .carousel-caption {
        font-size: 1.25em;
        padding-bottom: 30px;
        text-shadow: 0 .1em .1em #000;
    }

    .carousel-indicators {
        bottom: 20px;
    }
}

#newsletter .form-control {
    width: 50%;
}

.navbar-brand {
    padding-top: 8px;
}

/**
    Sobreescritura de los colores de la barra de menús
**/

.navbar-default {
    background-color: #f38630;
    border-color: #fa6900;
}
.navbar-default .navbar-brand {
    color: #e3eaeb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #a7dbd8;
}
.navbar-default .navbar-text {
    color: #e3eaeb;
}
.navbar-default .navbar-nav > li > a {
    color: #e3eaeb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a7dbd8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #a7dbd8;
    background-color: #fa6900;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #a7dbd8;
    background-color: #fa6900;
}
.navbar-default .navbar-toggle {
    border-color: #fa6900;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fa6900;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e3eaeb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e3eaeb;
}
.navbar-default .navbar-link {
    color: #e3eaeb;
}
.navbar-default .navbar-link:hover {
    color: #a7dbd8;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e3eaeb;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a7dbd8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #a7dbd8;
        background-color: #fa6900;
    }
}